
// @import 'utils/vars';
 // @import 'utils/mixins';
// @import 'utils/fonts';
// @import 'utils/reset';



html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html,
body {
  //height: 100%;
  position: relative;
  overflow-x: hidden;
  height: 100%;
}


body {
  background: #4F73CD;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1338px;
  margin: 44px auto 0px;
  padding: 0px 95px 0px 73px;
}


.swiper__title{
  font-size: 36px;
  font-weight: 800;
  line-height: 53px;
  color: #fff;
  margin-bottom: 17px;
}

.swiper__category-box{
  li{
    display: inline-block;
    cursor: pointer;
    margin-right: 34px;
    color: #fff;
    margin-top: 10px;
  }
}

.swiper-container{
  max-width: 1338px;
  margin: 0 auto;
  padding: 0px 110px 0px 0px;
  //overflow-y: hidden;
  width: 100%;
  //height: 100%;
  height: 600px;
  margin-top: 32px;
}

.content-text{
  margin: 25px 26px 14px 30px;
  text-align: left;
  color: #fff;
}
.content-link{
  height: 50px;
  a{
    text-align: left;
    float: left;
    padding: 13px 21px;
    margin: 14px 26px 14px 30px;
    border-radius: 4px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    &:hover {
      background-color: #0047FE;
      border: none;
    }
  }
}
.content{
  display: none;
  position: absolute;
  width: 400px;
  max-height: 250px;
  height: 100%;
  background-color: #254595;
  z-index: 2;
  font-size: 16px;
  line-height: 22px;
}
.select__form{
  display: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  //height: calc((100% - 30px) / 2);
  height: 250px;
  margin: 0px 9px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
  img{
    border-radius: 10px;
    height: 100%;
    width: auto;
  }
  &:hover{
    .content{
      display: block;
    }
  }
}

.swiper-wrapper{
  margin-left: 50px;
}

.citi-box{
  position: absolute;
  bottom: 17px;
  left: 22px;
  color: #fff;
  font-size: 16px;
  line-height: 19.2px;
  text-align: left;
}

.city{
  font-weight: 500;
  margin-bottom: 2px;
}

.country{
  font-weight: 400;
}

.hide {
  display: none;
}

.active-link{
  padding: 8px 20px;
  background-color: #80A0F2;
  border-radius: 8px;
}

.swiper-pagination{
  display: none;
}

.mobile__info-box{
  display: none;
  position: absolute;
  height: 550px;
  background: #4F73CD;
  z-index: 10000;  
  span{
    color: #fff;
    font-size: 40px;
  }
  .img-box{
    height: 250px;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .mobile__content{
    position: relative;
    .content-text{
      width: 90%;
    }
    .close{
      position: absolute;
      right: 5px;
      top: -5px;
      cursor: pointer;
    }
  }
}


@media (max-width:1300px){
  .container {
    max-width: 1338px;
    margin: 20px auto 0;
    padding: 0 20px;
  }
  .swiper-wrapper{
    margin: 0px 20px
  }
  .citi-box{
    left: 35px;
  }
}

@media (max-width:770px){
  .swiper-pagination{
    display: block;
  }
}

@media (max-width:700px){
  .citi-box{
    left: 25px;
  }
  .content-text{
    margin: 15px;
    text-align: left;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  }  
  .content-link{
    height: 40px;
    a{
      margin: 10px;
    }
  }
}

@media (max-width:650px){
  .swiper-slide {
    width: 150px !important;
    height: auto !important;
    img{
      height: 100% !important;
      width: 100% !important;
    }
  }
  
}

@media (max-width:470px){
  .swiper-slide {
    width: 150px !important;
    height: auto !important;
    img{
      height: 100% !important;
      width: 100% !important;
    }
  }
  .swiper__title{
    font-size: 25px;
  }
}


@media (max-width:375px){
  .swiper__category-box{
    display: none;
  }
  .select__form{
    display: block;
    select{
      width: 100%;
      height: 30px;
      background-color : #4F73CD;
      color : #fff;
      border: none;
      font-size: 16px;
      line-height: 23px;
      outline: none;
    }
  }
}

